.hero {
  @apply min-h-screen 
  flex-1 
  relative 
  overflow-hidden
}

.hero__btn {
  @apply bg-base-100 
  text-base-content 
  mt-25

  hover:bg-primary 
  hover:text-primary-content 

  text-xs 
  md:text-sm
  2xl:text-lg
}