@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
};

@theme inline {
  --spacing-nav: 64px;
}

@utility h-frame {
  height: calc(100vh - var(--spacing-nav));
}
@utility min-h-frame {
  min-height: calc(100vh - var(--spacing-nav));
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: var(--spacing-nav);
}

button {
  @apply bg-orange-400 
  disabled:bg-gray-400
  disabled:text-gray-200
  text-white 
  hover:bg-accent 
  hover:text-accent-content 
  font-bold
  mt-5
}

.my-bg {
  @apply absolute 
  inset-0 
  bg-cover 
  bg-center 
  blur-sm 
  scale-110 
  saturate-90 
  brightness-80 
}

@import "./layout/navbar/Navbar.css";
@import "./layout/hero/Hero.css";
@import "./layout/about/About.css";
@import "./layout/about/AboutTechStack.css";
@import "./layout/portfolio/Projects.css";
@import "./layout/contact/Contact.css";
@import "./layout/contact/ContactForm.css";