.about {
  @apply
  bg-base-300
  flex-1 
  relative 
  overflow-hidden 
  xl:h-[calc(100vh-64px)]
  shadow-lg
}

.about__layout_wrapper {
  @apply flex 
  flex-col
  xl:flex-row 
  items-center
  h-full
}

.about__card {
  @apply flex
  flex-col
  text-primary-content 
  overflow-hidden 
  relative 
  h-full
}

.about__bg_wrapper {
  @apply absolute 
  inset-0 
  z-0 
  pointer-events-none 
  bg-primary
}

.about__bg {
  @apply h-full 
  w-full 
  bg-[url(/marble-bg.jpg)]
  bg-size-[max(200%,600px)_auto]
  md:bg-size-[max(150%,600px)_auto]
  xl:bg-size-[max(110%,600px)_auto]
  bg-top-left
  grayscale
  mix-blend-hard-light
  opacity-70
}

.about__gradient {
  @apply absolute 
  pointer-events-none
  inset-0 
  z-5 
  
  md:bg-linear-to-l 
  bg-linear-to-t 
  
  from-primary 
  to-transparent 
  from-75% 
  to-95%
}

.about__card_body {
  @apply text-left 
  z-20 
  flex
  flex-col 
  md:flex-row 
  md:space-x-5 
  items-center
  relative
  m-10
}

.about__tech_card {
  @apply p-5 
  text-base-300 
  w-full
  h-full
  flex
  flex-col
  justify-end
  relative
  z-20
}